<p id="notice"><%= notice %></p>

<h2>Properties</h2>

<hr>


<div>
  <% @properties.each do |property| %>
    <div>
      <p><%= property.address %></p>
      <p><%= property.score %></p>
      <p><%= property.price %></p>
      <p><%= property.sqft %></p>
      <p><%= property.description %></p>
      <p><%= link_to 'Show', property %></p>
      <p><%= link_to 'Edit', edit_property_path(property) %></p>
      <p><%= link_to 'Remove', property, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'Create a New Property', new_property_path %>

